# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and commonly used settings for
# VS Code users. This folder should be tracked to make it easier for
# team members to get up and running with the project.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/generated/
**/android/gen/
**/android/local.properties
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS related
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# Windows related
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake

# Linux related
/linux/flutter/ephemeral/
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake

# macOS related
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.h
/macos/Flutter/GeneratedPluginRegistrant.m
/macos/Flutter/generated_plugins.cmake

# Exceptions to above rules
!**/ios/Runner/AppDelegate.h
!**/ios/Runner/AppDelegate.m
!**/ios/Runner/main.m
